@import 'tailwindcss';

*{
  font-family: "DM Sans", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

button::selection {
  background: transparent;
}

div::selection{
  background: transparent;
}

